{% extends "base.html" %}  

{% block titulo %}Inicio - Tayacan{% endblock %}

{% block contenido %} 

<div class="box">
    <div class="info">
        <div class="foto-bg">
          <img class="jos-torres" src="img/jos-torres-1.png" />
          <div class="div"></div>
        </div>
        <p class="text-wrapper">La cultura más cerca de ti</p>
        <p class="p">
          Tayacán tiene como propósito recopilar toda nuestra historia, alrededores, sociedad y completa existencia
          desde nuestra perspectiva. Nicaragua desde nuestro punto de vista.
        </p>
    </div>
</div>
<div class="search-box">
     <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
</div>
<div class="box">
      <div class="section">
        <div class="rectangle"></div>
        <img class="img" src="img/rectangle-16.png" />
        <div class="text-wrapper">Destacado de la semana</div>
        <div class="flexcontainer">
          <p class="text"><span class="span">Batalla de</span></p>
          <p class="text"><span class="span">San Jacinto</span></p>
        </div>
        <div class="component"><div class="div">Entrar</div></div>
      </div>
</div>
<div class="box">
      <div class="colecciones">
        <div class="rectangle"></div>
        <div class="text-wrapper">Colecciones</div>
        <p class="div">Recopilaciones de entradas que te ayudarán con tus planes de estudio.</p>
        <img class="img" src="img/rectangle-21.png" />
        <img class="rectangle-2" src="img/rectangle-22.png" />
        <div class="text-wrapper-2">“Todos San Jacinto”</div>
        <p class="p">Todo acerca del mes patrio nicraguense</p>
        <div class="text-wrapper-3">“Flora del Caribe”</div>
        <p class="text-wrapper-4">Estudios botánicos de la Región Atlántica</p>
        <img class="rectangle-3" src="img/rectangle-23.png" />
        <div class="text-wrapper-5">“Héroes de la Revolución”</div>
        <p class="text-wrapper-6">Recopilación de todos los héroes del ‘79</p>
      </div>
</div>
{% endblock %}